	<style type="text/css">
		body{
		background-color: black; 
		}
		p{ 
			font-family: "Comic Sans MS", "Comic Sans", cursive;
			color: yellow; 
			 
		}
		th{ 
			font-family: "Comic Sans MS", "Comic Sans", cursive;
			color: yellow; 
			 
		}
		td{ 
			font-family: "Comic Sans MS", "Comic Sans", cursive;
			color: yellow; 
			 
		}
		h2{
			font-family:verdana;
			color: yellow; 
			
		}
		h3{ 
		font-family:verdana;
			color: yellow; 
			
		}
	</style>